

<%- include('partials/header') %>


 <!-- The Contact Section -->
  <div class="w3-container content padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>Fan? Drop a note!</i></p>
    <div class="row w3-padding-32">
      <div class="w3-col col-lg-4 col-md-6">
        <i class="fa fa-map-marker" style="width:30px"></i> Nairobi, KE<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +254719200522<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: lkipkoech@kabarak.ac.ke<br>
      </div>
      <div class="col-lg-6 col-md-6">
        <form action="https://www.w3schools.com/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
        </form>
      </div>
    </div>
  </div>
  
  <%- include('partials/footer') %>



